body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: maroon;
  font-size: 20px;
}
#main-doc {
  /* display: block; */
  margin-left: 25em;
}
header {
  font-weight: 700;
  font-size: 25px;
}
.hhh {
  left: 20em;
}

section {
  display: block;
}

.main-section {
  display: inline;
}

#navbar {
  position: fixed;
  z-index: 0;
  background: black;
  top: 0;
  left: 0;
  width: 350px;
  overflow-x: hidden;
  height: 100%;

  padding: 10px, 30px;
  display: flex;

  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
h2 {
  color: white;
  text-align: center;
  margin-left: 1.9em;
}
nav a {
  text-decoration: none;
  color: white;
  display: block;
  padding-top: 20px;
  padding-left: 0%;
}
li {
  text-align: center;
  margin-left: 1.3em;
  list-style: none;
}
nav a:hover {
  color: #444444;
}
a {
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 500px) {
  body {
    background-color: brown;
  }
}
